@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter", serif;
}

.bar-animation {
  animation: top-bar 20s linear infinite forwards;
}
@keyframes top-bar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width:640.98px) {
  .media-icon svg{
    width: 30px;
  }
}
